<div class="columns is-centered mt-6">  
    <div class="column is-one-third">   
        <h1 class="is-size-2 has-text-weight-bold mb-3" >New Treatment</h1>
        <%= render 'form', treatment: @treatment %>
    </div>
</div>

<div class="columns is-centered mt-6">
    <%= link_to 'Show all', treatments_path, class:  "button is-link is-outlined is-centered"%>
</div>